### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Process IDs
*.pid

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# Sockets
*.sock

# virtual environments
venv

# celery embed beat
celerybeat-schedule

# static web files
static
