<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/reporting/css/bootstrap.min.css" rel="stylesheet">

        <script src="/static/reporting/js/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/mustache-2.2.0.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/marked-0.3.4.min.js" type="text/javascript"></script>

        <script id="category_panel_template" type="x-tmpl-mustache">
        {% verbatim %}
            <div class="panel panel-{{ severity_class }}" id="incident-panel-{{ panel_index }}">
                <div class="panel-heading">
                    <div class="row">
                        <span class="glyphicon glyphicon-minus col-md-1" aria-hidden="true"></span>
                        <div class="text-{{ severity_class }} text-uppercase col-md-3">
                            {{ severity_name }} <span class="badge badge-{{ severity_class }}">{{ incidents_counter }}</span>
                        </div>
                        <div class="col-md-8 category_name">{{ category_name }}</div>
                    </div>
                </div>
                <div class="panel-body">
                    <section>
                        <h5>Description</h5>
                        <p>{{{ category_description }}}</p>
                    </section>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th class="col-md-1">#</th>
                                <th class="col-md-11">Issue</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{# incidents }}
                            <tr>
                                <th class="col-md-1 incident_index">{{ incident_index }}</th>
                                <td class="col-md-11 incident_description">{{{ incident_description }}}</td>
                            </tr>
                        {{/ incidents }}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endverbatim %}
        </script>

        <script>
            $(document).ready(function() {
                var renderer = new marked.Renderer();
                renderer.heading = function(text, level) {
                    return `<h5>${text}</h5>`;
                };
                renderer.link = function(href, title, text) {
                    return `<a href="${href}" target="_blank">${href}</a>`;
                };

                var category_panel_template = $("#category_panel_template").html();
                Mustache.parse(category_panel_template);

                var panel_index = 0;
                function add_category(category_name, category_dataset) {
                    for (var severity in category_dataset["data"]) {
                        var severity_class = null;

                        if (severity === "high") {
                            severity_class = "danger";
                        } else if (severity === "medium") {
                            severity_class = "warning";
                        } else if (severity === "low") {
                            severity_class = "info";
                        } else if (severity === "information") {
                            severity_class = "default";
                        }

                        var category_data = category_dataset["data"];
                        var category_metadata = category_dataset["metadata"];

                        var template_data = {
                            "severity_class": severity_class,
                            "panel_index": panel_index++,
                            "severity_name": severity,
                            "incidents_counter": category_data[severity].length,
                            "category_name": category_name,
                            "category_description": marked(category_metadata.description, {renderer: renderer}),
                            "incidents": function () {
                                var incidents = [];
                                for (var i = 0, incident_index = 1; i < category_data[severity].length; i++) {
                                    var incident_metadata = category_data[severity][i].metadata || {};
                                    var incident_open_selected = "";
                                    var incident_in_progress_selected = "";
                                    var incident_close_selected = "";
                                    var incident_false_selected = "";
                                    var incident_ticket_url = "";
                                    var incident_ticket_url_disabled = "";

                                    if (incident_metadata) {
                                        var incident_metadata_status = incident_metadata.status;
                                        if (incident_metadata_status === "open") {
                                            incident_open_selected = "selected";
                                        } else if (incident_metadata_status === "in progress") {
                                            incident_in_progress_selected = "selected";
                                        } else if (incident_metadata_status === "close") {
                                            incident_close_selected = "selected";
                                            incident_ticket_url_disabled = "disabled";
                                        } else if (incident_metadata_status === "false") {
                                            incident_false_selected = "selected";
                                            incident_ticket_url_disabled = "disabled";
                                        }

                                        var incident_metadata_ticket_url = incident_metadata.ticket;
                                        if (incident_metadata.ticket) {
                                            incident_ticket_url = incident_metadata_ticket_url;
                                        }
                                    }

                                    incidents.push({
                                        "incident_index": incident_index++,
                                        "incident_description": category_data[severity][i].data,
                                        "incident_open_selected": incident_open_selected,
                                        "incident_in_progress_selected": incident_in_progress_selected,
                                        "incident_close_selected": incident_close_selected,
                                        "incident_false_selected": incident_false_selected,
                                        "incident_ticket_url": incident_ticket_url,
                                        "incident_ticket_url_disabled": incident_ticket_url_disabled
                                    });
                                }
                                return incidents;
                            }()
                        };

                        var output = Mustache.render(category_panel_template, template_data);
                        $(`div.${severity}-incidents`).append(output);
                    }
                }

                function find_incident_element(report, incident_description) {
                    var report_data = report["data"];
                    var incident_description_div = document.createElement("div");

                    for (var category in report_data) {
                        for (var severity in report_data[category]) {
                            for (var description in report_data[category][severity]) {
                                incident_description_div.innerHTML = report_data[category][severity][description].data;
                                if (incident_description == incident_description_div.innerHTML){
                                    return report_data[category][severity][description];
                                }
                            }
                        }
                    }
                }

                {% load jsonify %}
                report = {{ report.report | jsonify }};
                var report_data = report.data;
                var report_metadata = report.metadata;
                var categories = Object.keys(report_data).sort();

                for (var category in categories) {
                    var category_dataset = {
                        "data": report_data.hasOwnProperty(categories[category]) ? report_data[categories[category]] : null,
                        "metadata": report_metadata.hasOwnProperty(categories[category]) ? report_metadata[categories[category]] : null
                    };
                    add_category(categories[category], category_dataset);
                }

                $("div.category-results").removeClass("hidden");

                $("div.panel-heading").on("click", function() {
                    var div_panel_body = $(this).next("div.panel-body");
                    var glyphicon = $(this).find("span.glyphicon");

                    if (div_panel_body.hasClass("hide")) {
                        glyphicon.removeClass("glyphicon-plus");
                        glyphicon.addClass("glyphicon-minus");
                        div_panel_body.removeClass("hide");
                    }
                    else {
                        glyphicon.removeClass("glyphicon-minus");
                        glyphicon.addClass("glyphicon-plus");
                        div_panel_body.addClass("hide");
                    }
                });

                $("select.form-control").on("change", function() {
                    var incident_status = this.value;
                    var ticket_url = $(this.parentNode.parentNode).find("textarea")[0];

                    if (incident_status === "open") {
                        $(ticket_url).attr("disabled", false);
                    } else if (incident_status === "in progress") {
                        $(ticket_url).attr("disabled", false);
                    } else if (incident_status === "close") {
                        $(ticket_url).attr("disabled", true);
                    } else if (incident_status === "false") {
                        $(ticket_url).val("");
                        $(ticket_url).attr("disabled", true);
                    }

                    var incident_description = $(this.parentNode.parentNode).children("[class*='incident_description']")[0].innerHTML;
                    var incident_element = find_incident_element(report, incident_description);
                    incident_element.metadata = incident_element.metadata || {};
                    incident_element.metadata.status = incident_status;
                });
            });
        </script>

        <style>
            div.panel-heading {
                cursor: pointer;
            }
            table {
                table-layout: fixed;
                word-wrap: break-word;
            }
        </style>

        <title>Reporting System</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="row" id="status-bar">
                        <div class="col-md-4 text-uppercase">
                            <h4 class="text-muted">{{ report.report.metadata.module }}</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-muted">{{ report.report.metadata.target_url }}</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="text-muted">Last modified: {{ report.modified | date:"Y M d D h:m:s" }}</h4>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row category-results">
                        <div class="high-incidents"></div>
                        <div class="medium-incidents"></div>
                        <div class="low-incidents"></div>
                        <div class="information-incidents"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <footer class="footer text-center">
                    <small class="text-muted">Copyright &copy; 2015 WG.</small>
                </footer>
            </div>
        </div>
    </body>

</html>
