<!DOCTYPE html>

<html lang="en" ng-app="reporting">
    <head>
        <title>Reporting System</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/reporting/css/bootstrap-3.3.5.min.css" rel="stylesheet">
        <link href="/static/reporting/css/simple-sidebar.css" rel="stylesheet">

        <script src="/static/reporting/js/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/bootstrap-3.3.5.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/marked-0.3.4.min.js" type="text/javascript"></script>
        <script src="/static/reporting/js/angular-1.5.0-beta.2/angular.js" type="text/javascript"></script>
        <script src="/static/reporting/js/angular-1.5.0-beta.2/angular-sanitize.js" type="text/javascript"></script>

        <script>
            var app = angular.module('reporting', []);

            app.controller('ReportController', ['$filter', '$http', function($filter, $http) {
                {% load jsonify %}

                this.report = {
                    'result': {{report.report | jsonify}},
                    'id': '{{report.id}}',
                    'broker': '{{report.broker}}',
                    'modified': '{{report.modified}}',
                    'report_url': '{{report_url}}',
                    'process_url': [
                        window.location.protocol,
                        '//',
                        window.location.host,
                        '/reporting/process/',
                        '{{report.id}}/'
                    ].join('')
                };

                this.severity_panels = {
                    'high': [],
                    'medium': [],
                    'low': [],
                    'information': []
                };
                this.show_panels = true;
                this.show_submit_form = true;
                this.jira_issue_description = '';


                this.make_severity_panels = function() {
                    var report = this.report.result;
                    for (var category in report.data) {
                        for (var severity in report.data[category]) {
                            this.severity_panels[severity].push({
                                'category_name': category,
                                'category_description': report.metadata[category].description,
                                'incidents': report.data[category][severity]
                            });
                        }
                    }
                };
                this.make_severity_panels();

                this.get_panel_marked_incidents = function(panel) {
                    var panel_marked_incidents = 0;
                    panel.incidents.map(function(incident) {
                        if (incident.metadata && incident.metadata.checked) {
                            panel_marked_incidents++;
                        }
                    });
                    return panel_marked_incidents;
                };

                this.get_all_panels_marked_incidents = function() {
                    var all_panels_marked_incidents = 0;

                    for (var severity in this.severity_panels) {
                        for (var panel of this.severity_panels[severity]) {
                            all_panels_marked_incidents += this.get_panel_marked_incidents(panel);
                        }
                    }

                    return all_panels_marked_incidents;
                };

                this.mark_all_incidents = function(panel) {
                    var incidents_marked = this.get_panel_marked_incidents(panel);

                    if (incidents_marked < panel.incidents.length) {
                        for (var incident of panel.incidents) {
                            incident.metadata = incident.metadata || {};
                            if (!incident.metadata.checked) {
                                incident.metadata.checked = true;
                            }
                        }
                    } else {
                        for (var incident of panel.incidents) {
                            incident.metadata = incident.metadata || {};
                            delete incident.metadata.checked;
                        }
                    }
                };

                this.main_checkbox_status = function(panel) {
                    return this.get_panel_marked_incidents(panel) === panel.incidents.length;
                };

                this.set_false_status = function() {
                    for (var severity in this.severity_panels) {
                        for (var panel of this.severity_panels[severity]) {
                            for (var incident of panel.incidents) {
                                if (incident.metadata && incident.metadata.checked) {
                                    if (incident.metadata.reporting_status === 'false') {
                                        incident.metadata.issue_url = '';
                                        incident.metadata.issue_status = '';
                                        incident.metadata.reporting_status = 'pending';
                                    } else {
                                        incident.metadata.reporting_status = 'false';
                                    }
                                    delete incident.metadata.checked;
                                }
                            }
                        }
                    }
                    var payload = {
                        "broker": this.report.broker,
                        "report": this.report.result
                    };

                    this.show_panels = this.show_submit_form = false;

                    $http.put(this.report.report_url, payload).then(function (response){
                        location.reload();
                    });
                };

                this.set_all_false_status = function() {
                    for (var severity in this.severity_panels) {
                        for (var panel of this.severity_panels[severity]) {
                            for (var incident of panel.incidents) {
                                if (incident.metadata) {
                                    incident.metadata.reporting_status = 'false';
                                }
                            }
                        }
                    }
                    var payload = {
                        "broker": this.report.broker,
                        "report": this.report.result
                    };

                    this.show_panels = this.show_submit_form = false;

                    $http.put(this.report.report_url, payload).then(function (response){
                        location.reload();
                    });
                };

                this.create_issue = function() {
                    this.jira_issue_description = `*Target*: ${this.report.result.metadata.target_url}\n*Report*: ${this.report.process_url}\n\n\n\n`;
                    for (var severity in this.severity_panels) {
                        var panel_color = '';
                        switch (severity) {
                            case 'information': panel_color='#DDD'; break;
                            case 'low': panel_color='#BCE8F1'; break;
                            case 'medium': panel_color='#FAEBCC'; break;
                            case 'high': panel_color='#EBCCD1'; break;
                        }
                        for (var panel of this.severity_panels[severity]) {
                            var category_incidents_descriptions = '';
                            for (var incident of panel.incidents) {
                                if (incident.metadata && incident.metadata.checked) {
                                    category_incidents_descriptions += `# ${incident.data}\n`;
                                }
                            }
                            if (category_incidents_descriptions) {
                                this.jira_issue_description += `
{panel:title=${panel.category_name.toUpperCase()} | borderStyle=dashed | borderColor=${panel_color} | titleBGColor=${panel_color} | bgColor=#FFFFFF}
${category_incidents_descriptions}
{color:#666666}
${panel.category_description}
{color}
{panel}\n\n\n\n`;
                            }
                        }
                    }
                };

                this.submit_issue = function() {
                    for (var severity in this.severity_panels) {
                        for (var panel of this.severity_panels[severity]) {
                            for (var incident of panel.incidents) {
                                if (incident.metadata && incident.metadata.checked) {
                                    incident.metadata.reporting_status = 'done';
                                    delete incident.metadata.checked;
                                }
                            }
                        }
                    }

                    this.report.result.metadata['jira_issue_description'] = this.jira_issue_description;

                    var payload = {
                        "broker": this.report.broker,
                        "report": this.report.result
                    };

                    this.show_submit_form = false;

                    $http.put(this.report.report_url, payload).then(function (response){
                        location.reload();
                    });
                };

                this.sort_reporting_status = function(incident) {
                    if (incident.metadata) {
                        if (incident.metadata.reporting_status) {
                            return incident.metadata.reporting_status;
                        }
                    }
                    return '';
                };

                this.find_panel_incident = function(panel, incident) {
                    for (var index = 0; index < panel.incidents.length; index++) {
                        if (incident === panel.incidents[index]) {
                            return index+1;
                        }
                    }
                }
            }]);

            app.filter('issueTitle', function() {
                return function (input) {
                    return input ? input.split('/').slice(-1).pop(): input;
                }
            });

            app.filter('markdown', ['$sce', function($sce) {
                return function(input) {
                    var renderer = new marked.Renderer();
                    renderer.heading = function(text, level) {
                        return `<h5>${text}</h5>`;
                    };
                    renderer.link = function(href, title, text) {
                        return `<a href="${href}" target="_blank">${href}</a>`;
                    };
                    return $sce.trustAsHtml(marked(input, { renderer: renderer }));
                }
            }]);
        </script>

        <style>
            .panel-heading {
                cursor: pointer;
            }

            tr {
                cursor: pointer;
            }

            table {
                table-layout: fixed;
                word-wrap: break-word;
            }

            .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
                background-color: #E8F5E9;
            }

            .incident-hover {
                background-color: #E8F5E9 !important;
            }
        </style>
    </head>
    {% verbatim %}
    <body ng-controller="ReportController as reporting">
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        Reporting System
                    </li>
                    <li>
                        Module: {{reporting.report.result.metadata.module}}
                    </li>
                    <li>
                        Target: {{reporting.report.result.metadata.target_url}}
                    </li>
                    <li>
                        Datetime: {{reporting.report.modified}}
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="reporting.set_false_status()" ng-disabled="!reporting.get_all_panels_marked_incidents()">(Un)Set False</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="reporting.set_all_false_status()" ng-disabled="!reporting.show_panels">Set All False</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" ng-click="reporting.show_panels = !reporting.show_panels; reporting.create_issue()" ng-disabled="!reporting.get_all_panels_marked_incidents()">Create Issue</button>
                    </li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel panel-danger" ng-repeat="panel in reporting.severity_panels.high" ng-show="reporting.show_panels">
                            <div class="panel-heading" ng-click="panel.isHidden = !panel.isHidden">
                                <div class="row">
                                    <span class="glyphicon col-md-1" aria-hidden="true" ng-class="{'glyphicon-minus': !panel.isHidden, 'glyphicon-plus': panel.isHidden}"></span>
                                    <div class="text-danger text-uppercase col-md-3">
                                        High <span class="badge badge-danger">{{panel.incidents.length}}</span>
                                    </div>
                                    <div class="col-md-8">{{panel.category_name}}</div>
                                </div>
                            </div>
                            <div class="panel-body" ng-hide="panel.isHidden">
                                <section>
                                    <h5>Description</h5>
                                    <p ng-bind-html="panel.category_description | markdown"></p>
                                </section>
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" ng-click="reporting.mark_all_incidents(panel)">
                                            <input type="checkbox" ng-checked="reporting.main_checkbox_status(panel)">
                                        </th>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-7">Description</th>
                                        <th class="col-md-2">Issue</th>
                                        <th class="col-md-1" ng-click="panel.reverseReportingStatus = !panel.reverseReportingStatus">Status <i class="glyphicon glyphicon-sort"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incident in panel.incidents | orderBy: reporting.sort_reporting_status : panel.reverseReportingStatus" ng-click="incident.metadata.checked = !incident.metadata.checked" ng-class="{'incident-hover': incident.metadata.checked}">
                                        <th class="col-md-1 text-center">
                                            <input type="checkbox" ng-checked="incident.metadata.checked">
                                        </th>
                                        <th class="col-md-1">{{reporting.find_panel_incident(panel, incident)}}</th>
                                        <td class="col-md-7" ng-bind-html="incident.data | markdown"></td>
                                        <td class="col-md-2">
                                            <a href={{incident.metadata.issue_url}} target="_blank">
                                                {{incident.metadata.issue_url | issueTitle}}
                                            </a>
                                            <span class="label label-info">{{incident.metadata.issue_status | uppercase}}</span>
                                        </td>
                                        <td class="col-md-1">
                                            <span class="label" ng-init="incident.metadata.reporting_status = incident.metadata.reporting_status || 'pending'" ng-class="{'label-default': (incident.metadata.reporting_status === 'pending'), 'label-success': (incident.metadata.reporting_status === 'done'), 'label-danger': (incident.metadata.reporting_status === 'false')}">{{incident.metadata.reporting_status | uppercase}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-warning" ng-repeat="panel in reporting.severity_panels.medium" ng-show="reporting.show_panels">
                            <div class="panel-heading" ng-click="panel.isHidden = !panel.isHidden">
                                <div class="row">
                                    <span class="glyphicon col-md-1" aria-hidden="true" ng-class="{'glyphicon-minus': !panel.isHidden, 'glyphicon-plus': panel.isHidden}"></span>
                                    <div class="text-warning text-uppercase col-md-3">
                                        Medium <span class="badge badge-warning">{{panel.incidents.length}}</span>
                                    </div>
                                    <div class="col-md-8">{{panel.category_name}}</div>
                                </div>
                            </div>
                            <div class="panel-body" ng-hide="panel.isHidden">
                                <section>
                                    <h5>Description</h5>
                                    <p ng-bind-html="panel.category_description | markdown"></p>
                                </section>
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" ng-click="reporting.mark_all_incidents(panel)">
                                            <input type="checkbox" ng-checked="reporting.main_checkbox_status(panel)">
                                        </th>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-7">Description</th>
                                        <th class="col-md-2">Issue</th>
                                        <th class="col-md-1" ng-click="panel.reverseReportingStatus = !panel.reverseReportingStatus">Status <i class="glyphicon glyphicon-sort"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incident in panel.incidents | orderBy: reporting.sort_reporting_status : panel.reverseReportingStatus" ng-click="incident.metadata.checked = !incident.metadata.checked" ng-class="{'incident-hover': incident.metadata.checked}">
                                        <th class="col-md-1 text-center">
                                            <input type="checkbox" ng-checked="incident.metadata.checked">
                                        </th>
                                        <th class="col-md-1">{{reporting.find_panel_incident(panel, incident)}}</th>
                                        <td class="col-md-7" ng-bind-html="incident.data | markdown"></td>
                                        <td class="col-md-2">
                                            <a href={{incident.metadata.issue_url}} target="_blank">
                                                {{incident.metadata.issue_url | issueTitle}}
                                            </a>
                                            <span class="label label-info">{{incident.metadata.issue_status | uppercase}}</span>
                                        </td>
                                        <td class="col-md-1">
                                            <span class="label" ng-init="incident.metadata.reporting_status = incident.metadata.reporting_status || 'pending'" ng-class="{'label-default': (incident.metadata.reporting_status === 'pending'), 'label-success': (incident.metadata.reporting_status === 'done'), 'label-danger': (incident.metadata.reporting_status === 'false')}">{{incident.metadata.reporting_status | uppercase}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-info" ng-repeat="panel in reporting.severity_panels.low" ng-show="reporting.show_panels">
                            <div class="panel-heading" ng-click="panel.isHidden = !panel.isHidden">
                                <div class="row">
                                    <span class="glyphicon col-md-1" aria-hidden="true" ng-class="{'glyphicon-minus': !panel.isHidden, 'glyphicon-plus': panel.isHidden}"></span>
                                    <div class="text-info text-uppercase col-md-3">
                                        Low <span class="badge badge-info">{{panel.incidents.length}}</span>
                                    </div>
                                    <div class="col-md-8">{{panel.category_name}}</div>
                                </div>
                            </div>
                            <div class="panel-body" ng-hide="panel.isHidden">
                                <section>
                                    <h5>Description</h5>
                                    <p ng-bind-html="panel.category_description | markdown"></p>
                                </section>
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" ng-click="reporting.mark_all_incidents(panel)">
                                            <input type="checkbox" ng-checked="reporting.main_checkbox_status(panel)">
                                        </th>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-7">Description</th>
                                        <th class="col-md-2">Issue</th>
                                        <th class="col-md-1" ng-click="panel.reverseReportingStatus = !panel.reverseReportingStatus">Status <i class="glyphicon glyphicon-sort"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incident in panel.incidents | orderBy: reporting.sort_reporting_status : panel.reverseReportingStatus" ng-click="incident.metadata.checked = !incident.metadata.checked" ng-class="{'incident-hover': incident.metadata.checked}">
                                        <th class="col-md-1 text-center">
                                            <input type="checkbox" ng-checked="incident.metadata.checked">
                                        </th>
                                        <th class="col-md-1">{{reporting.find_panel_incident(panel, incident)}}</th>
                                        <td class="col-md-7" ng-bind-html="incident.data | markdown"></td>
                                        <td class="col-md-2">
                                            <a href={{incident.metadata.issue_url}} target="_blank">
                                                {{incident.metadata.issue_url | issueTitle}}
                                            </a>
                                            <span class="label label-info">{{incident.metadata.issue_status | uppercase}}</span>
                                        </td>
                                        <td class="col-md-1">
                                            <span class="label" ng-init="incident.metadata.reporting_status = incident.metadata.reporting_status || 'pending'" ng-class="{'label-default': (incident.metadata.reporting_status === 'pending'), 'label-success': (incident.metadata.reporting_status === 'done'), 'label-danger': (incident.metadata.reporting_status === 'false')}">{{incident.metadata.reporting_status | uppercase}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel panel-default" ng-repeat="panel in reporting.severity_panels.information" ng-show="reporting.show_panels">
                            <div class="panel-heading" ng-click="panel.isHidden = !panel.isHidden">
                                <div class="row">
                                    <span class="glyphicon col-md-1" aria-hidden="true" ng-class="{'glyphicon-minus': !panel.isHidden, 'glyphicon-plus': panel.isHidden}"></span>
                                    <div class="text-default text-uppercase col-md-3">
                                        Information <span class="badge badge-default">{{panel.incidents.length}}</span>
                                    </div>
                                    <div class="col-md-8">{{panel.category_name}}</div>
                                </div>
                            </div>
                            <div class="panel-body" ng-hide="panel.isHidden">
                                <section>
                                    <h5>Description</h5>
                                    <p ng-bind-html="panel.category_description | markdown"></p>
                                </section>
                                <table class="table table-condensed table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1 text-center" ng-click="reporting.mark_all_incidents(panel)">
                                            <input type="checkbox" ng-checked="reporting.main_checkbox_status(panel)">
                                        </th>
                                        <th class="col-md-1">#</th>
                                        <th class="col-md-7">Description</th>
                                        <th class="col-md-2">Issue</th>
                                        <th class="col-md-1" ng-click="panel.reverseReportingStatus = !panel.reverseReportingStatus">Status <i class="glyphicon glyphicon-sort"></i></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="incident in panel.incidents | orderBy: reporting.sort_reporting_status : panel.reverseReportingStatus" ng-click="incident.metadata.checked = !incident.metadata.checked" ng-class="{'incident-hover': incident.metadata.checked}">
                                        <th class="col-md-1 text-center">
                                            <input type="checkbox" ng-checked="incident.metadata.checked">
                                        </th>
                                        <th class="col-md-1">{{reporting.find_panel_incident(panel, incident)}}</th>
                                        <td class="col-md-7" ng-bind-html="incident.data | markdown"></td>
                                        <td class="col-md-2">
                                            <a href={{incident.metadata.issue_url}} target="_blank">
                                                {{incident.metadata.issue_url | issueTitle}}
                                            </a>
                                            <span class="label label-info">{{incident.metadata.issue_status | uppercase}}</span>
                                        </td>
                                        <td class="col-md-1">
                                            <span class="label" ng-init="incident.metadata.reporting_status = incident.metadata.reporting_status || 'pending'" ng-class="{'label-default': (incident.metadata.reporting_status === 'pending'), 'label-success': (incident.metadata.reporting_status === 'done'), 'label-danger': (incident.metadata.reporting_status === 'false')}">{{incident.metadata.reporting_status | uppercase}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div ng-hide="reporting.show_panels">
                            <form ng-submit="reporting.submit_issue()" ng-show="reporting.show_submit_form">
                                <div class="form-group">
                                    <label for="issueDescription">Submit issue description</label>
                                    <textarea type="text" class="form-control" id="issueDescription" autofocus="autofocus" rows="15" ng-model="reporting.jira_issue_description">{{reporting.jira_issue_description}}</textarea>
                                </div>
                                <!--<pre ng-bind-html="reporting.jira_issue_description | markdown"></pre>-->
                                <button type="button" class="btn btn-primary" ng-click="reporting.show_panels = true;">Back</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                            <div class="progress" ng-hide="reporting.show_submit_form">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% endverbatim %}
</html>
